<div class="row">
    <div>
        <h2 class="list-title" translate>Book offer</h2>
    </div>
    <div ng-repeat="doc in results" class="col-sm-6 list-item">
        <a href="#/b/{{doc.id}}/{{doc.slug}}">
            <div class="image" ng-bind-html="doc.image | trusted"></div>
        </a>
        <div class="text">
            <a href="#/b/{{doc.id}}/{{doc.slug}}">
                <h4 ng-bind-html="doc.title | trusted"></h4>
            </a>
            <p ng-bind-html="doc.abstract | trusted"></p>
        </div>
    </div>
    <div class="bit-spaced col-sm-12" ng-show="nextPage">
        <button class="btn btn-default center-block" ng-click="loadPage(nextPage)" translate>Load more...</button>
    </div>
</div>