<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Petr Chrdle, KAVA-PECH</a>
    </div>

    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" translate>Home</a></li>
            <li><a href="#/{{tran}}/c/publishing-on-demand" translate>Books on demand</a></li>
            <li><a href="#/{{tran}}/c/esperanto" translate>Esperanto</a></li>
            <li><a href="#/{{tran}}/blog" translate>Blog</a></li>
            <li><a href="#/{{tran}}/cart" class="wide" translate>Cart</a>
                <span class="label label-warning cart-count" ng-show="cart.count > 0">{{cart.count}}</span>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="#" uib-dropdown-toggle role="button" aria-expanded="false">
                    <img src="img/language-flags.png"> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
                    <li><a href="#/" ng-click="useLanguage('cz')">Česky</a></li>
                    <li><a href="#/" ng-click="useLanguage('eo')">Esperanto</a></li>
                    <li><a href="#/" ng-click="useLanguage('en')">English</a></li>
                    <li><a href="#/" ng-click="useLanguage('de')">Deutsch</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>