<div class="section">
    <div class="container">
        <div class="left-menu col-sm-3">
            <div class="logo">
                <img src="img/kava-pech.png"/>
            </div>
            <categories></categories>
        </div>
        <div class="col-sm-9 padding-right">
            <h2 class="content-title" ng-bind-html="book.title | trusted"></h2>
            <div class="col-sm-4 centered content-image">
                <div ng-bind-html="book.image | trusted"></div>
                <a class="btn btn-success spaced" ng-click="buy(book)">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="left-spaced" translate>Add to cart</span>
                </a>
            </div>
            <div class="col-sm-8 content-text">
                <div class="info" ng-show="book.info">
                    <div ng-bind-html="doc.authors | trusted" ng-if="doc.authors"></div>
                    <div ng-bind-html="book.info | trusted"></div>
                    <div class="price">
                        <span class="amount">{{book.price}}<sup ng-if="book.currency == 'Kč' && book.priceCES">**</sup></span>
                        <span class="currency">{{book.currency}}</span>
                    </div>
                </div>
                <div class="note" ng-if="book.currency == 'Kč' && book.priceCES">
                    <span translate>** CES members may shop for discounted price</span>
                    <span> {{book.priceCES}} {{book.currency}}.</span>
                    <span translate>Please indicate your membership during the checkout.</span>
                </div>
                <div class="text" ng-bind-html="book.text | trusted"></div>
            </div>
        </div>
    </div>
</div>