<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">Petr Chrdle, KAVA-PECH</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#/" translate>Home</a></li>
            <li><a href="#/c/publishing-on-demand" translate>Publishing on demand</a></li>
            <li><a href="#/c/esperanto" translate>Esperanto</a></li>
            <li><a href="#/cart" translate>Cart</a></li>

            <li class="dropdown" dropdown >
                <a href="#" class="dropdown-toggle" dropdown-toggle role="button" aria-expanded="false">
                    <img src="img/language-map.png"><span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#/" ng-click="useLanguage('cz')">Česky</a></li>
                    <li><a href="#/" ng-click="useLanguage('en')">English</a></li>
                    <li><a href="#/" ng-click="useLanguage('eo')">Esperanto</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
